/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run m-mahgoub/nf-core-chipseqcr -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '12.h'

    // Input data
    input = 'https://raw.githubusercontent.com/m-mahgoub/test-datasets/main/nf-core-chipseqcr/test/samplesheet.csv'

    // Genome references
    // fasta will be ignored if bowtie2 is provided
    // set bowtie2 to null if you want fasta to be used to bulid the index
    fasta             = 'https://raw.githubusercontent.com/m-mahgoub/test-datasets/main/nf-core-chipseqcr/test/genome.fa'
    bowtie2           = null
    gsize             = 1.2e7

    // Heatmaps Blueprints specifications
    // Define the plotting strategy for the desired heatmaps in YAML format
    custom_heatmap = false
    heatmap_blueprint = 'assets/test_heatmap_blueprint.yaml'
}
